*{
    margin:0vw;
    padding:0vw;
}

.menu{
    
    background: blanchedalmond;
    margin-bottom: 3px solid black;
    

}

.section{
    padding-bottom: 4vw;
}

.menu_title{
    color: #ff5e6c;
    font-size: 3vw;
        text-align: center;
    font-family: "Architects Daughter";
        padding-top: 4vw;
    padding-bottom: 2vw;
}

.menu_title:after{
    display: block;
    content: " ";
    width: 4.5vw;
    text-align: center;
    border-bottom: 3px solid #ff5e6c;
    height: 1px;
    margin: auto;
    }

.menupage_container{
    width: 97%;
    margin:auto;
    vertical-align: top;
}

.menupage_block_row{
    width: 100%;
    margin: auto;
    margin-bottom: 1vw;
    text-align: center;
}

.menupage_block{
    width: 22%;
    margin: auto;
    margin-right: 1vw;
    padding: 0.5vw;
    background: #ff5e6c;
    border-radius: 50px;
    display: inline-block;
}

.menupage_block_title{
    text-align: center;
    font-family: "Lobster";
    font-size:2.5vw;
        font-family: "Pacifico";
    color:blanchedalmond;
    padding:0.5vw;
    margin-bottom: 2vw;
    margin-top: 1vw;
}

.menupage_block_des{
    color:blanchedalmond;
  font-size: 1.5vw;
  width: 100%;
  text-align: center;
    font-family: "Pacifico";
    height: 6vw;
    vertical-align: middle;
    
}

.menupage_block_des p{
    vertical-align: middle;
}

.menupage_block_image{
    margin-top: 1vw;
    margin-bottom:1vw;
    width: 10vw;
    height: 9vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menupage_block_button{
    text-align: center;
    width: 50%;
        margin: auto;
    display: block;
    padding: 1vw;
    font-size: 1.5vw;
    border-radius: 100px;
    background: #ff5e6c;
    font-family: "Dancing Script";
    border: 2px solid blanchedalmond;
}

.menupage_block_button:hover{
    background: blanchedalmond;
    transition: background 0.5s;
}

.menupage_block_price{
    text-align: center;
    font-family: "Lobster";
    font-size:2vw;
        font-family: "Pacifico";
    color:blanchedalmond;
    margin: 0vw;
}

.home{
    margin:0px;
    margin-bottom: 0px;
}

.container{
    width: 100%;
    background: rgba(255, 255, 255, 0.42);
    position: fixed;
    top: 0;
    z-index: 99999;
    margin-bottom: 0vw;
}
.dd_container{
    margin: auto;
    width:90%;
    height: 3.7vw;
    vertical-align: middle;
    margin-bottom: 0vw;
}

.logo_container{
    width: 7%;
    height: 100%;
    padding-top: 0.3vw;
    display:inline-block;
    margin-left: 1vw;

}



.menu_container{
    width:85%;
    display: inline-block;
    vertical-align: top;
    margin-left: 3vw;
}

.menu_list{
    list-style-type: none;
        position: relative;
}

.menu_block li{
    position: relative;
}

.menu_block{
    display:inline-block;
    width: 7%;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size:1vw;
    font-family: 'Kaushan Script', cursive;
    color:blanchedalmond;
    text-align: center;
    height: auto;
    font-weight: 600;
    background: #ff5e6c;
    padding: 0.5vw;
    border-radius: 50px;
}


.menu_block:active,
.menu_block:hover{
    color:#ff5e6c;
    background: blanchedalmond;
    border: 1px solid #ff5e6c;
    transition: color 1s, font-size 1s;
    
}

a:link,
a:visited{
    text-decoration: none;
}

